#general
requests
click
python-dotenv
isodate
nanoid
fuzzywuzzy
python-Levenshtein

# Spreadsheets
openpyxl
xlsxwriter
gspread 

#scientific
numpy
pandas
scipy

#datamodel
pydantic

#graph/networks
networkx
graphviz

#visualization
matplotlib
seaborn
plotly

#PDF/RAG
PyMuPDF
llama-index
spacy

# AI and ML
scikit-learn
tiktoken
openai
anthropic
instructor

#Orchestration
burr[start]
sf-hamilton[visualization]

# UI
panel
ipywidgets
ipycytoscape
streamlit

#APIs
comtradeapicall